@{
    ViewData["Title"] = "Place Bid";
    ViewData["Active"] = "PlaceBid";
}

<body>
<div class="border">
    <div class="row justify-content-center" style="padding: 20px">
        <div class="col-3">
            <partial name="Bid" />
        </div>
    </div>
</div>
</body>
<style>
    pre {
        font-size: 1em;
    }

    .string {
        color: #0554A2;
    }

    .number {
        color: #14855A;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: #A21319;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    var counterRef;
    $(document).ready(function () {
        $('#txtHighlightDelta').change(function () {
            var deltaVal = Number($(this).val());
            if (deltaVal > 0) {
                $('.delta').each(function (index, cell) {
                    $(cell).removeClass('bg-danger text-white');
                    if (Number(cell.innerText) > deltaVal) {
                        $(cell).addClass('bg-danger text-white');
                    }
                });
            }
        });
    });
    
    // get lot details
    function getLotDetails() {
        let AuctionId = $("#AuctionId").val().trim();
        let LotId = $("#LotId").val().trim();
        var errorList = "";
        showLoader();
        $.ajax({
            url: '@Url.Action("LotDetails")',
            type: "POST",
            data: { auctionid: AuctionId, lotid: LotId },
            dataType: 'json',
            success: function (response) {
                hideLoader();
                if (response != null && response.isValid === false && response.validationResults != null && response.validationResults.length > 0) {
                    $.each(response.validationResults,
                        function(index, val) {
                            errorList += "<li>" + val.description + "</li>";
                        });
                    document.getElementById("lotModalBody").innerHTML = "<ul>" + errorList + "</ul>";
                } else {
                    var lotJson = JSON.stringify(response.lotDetail, undefined, 4);
                    setLotDetailModal(lotJson);
                }
            },
            error: function(xhr) {
                hideLoader();
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
            }
        });
    }
</script>